<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="col-xs-8 col-xs-offset-2">
            <h2 class="text-center">Nuevo Ingreso</h2>
            <form method="POST" role="form">
                <div class="form-group">
                    <label for="nombre">Nombre Completo</label>
                    <input name="nombre" type="text" class="form-control" placeholder="Nombre completo">
                </div>
                <div class="form-group">
                    <label for="documento">Numero de documento</label>
                    <input name="documento" type="text" class="form-control" placeholder="Ingrese su numero">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>